@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }

  .card {
    background: #7fd3e3;
  }

  h1,
  h3 {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #ddd;
    color: black;
  }

  h1,
  h3 {
    color: black;
  }
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 5px;
  flex-wrap: wrap;
}

.button-wrapper {
  padding: 20px;
}